@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

        /* CSS: .bg-gradient { background: var(--gradient) } */
        --gradient: linear-gradient(to top left, #1d976c, #93f9b9);
        --background-gradient: linear-gradient(to top right, #111, #001c16);

        --background: 169 44.2% 2.8%;
        --foreground: 169 6.800000000000001% 96.75%;

        --muted: 169 34% 10.5%;
        --muted-foreground: 169 6.800000000000001% 53.5%;

        --popover: 169 51.4% 4.55%;
        --popover-foreground: 169 6.800000000000001% 96.75%;

        --card: 169 51.4% 4.55%;
        --card-foreground: 169 6.800000000000001% 96.75%;

        --border: 169 34% 10.5%;
        --input: 169 34% 10.5%;

        --primary: 169 70% 45%;
        --primary-foreground: 169 6.800000000000001% 96.75%;
        --primary-hover: 169, 87%, 60%;

        --secondary: 169 34% 10.5%;
        --secondary-foreground: 169 6.800000000000001% 96.75%;

        --accent: 169 34% 10.5%;
        --accent-foreground: 169 6.800000000000001% 96.75%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 169 6.800000000000001% 96.75%;

        --ring: 169 68% 35%;
        --radius: 0.75rem;
    }
}

.container {
    @apply max-w-7xl lg:mx-auto md:px-10 xl:px-14 w-full snap-start;
}

.gradient {
    background: var(--gradient);
}

.bg-gradient {
    background: var(--background-gradient);
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply text-foreground;
    }
}

body::before {
    content: "";
    background-image: url(/grid.svg);
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    pointer-events: none;
    z-index: -1;
}

.section {
    @apply my-8 md:my-14;
}
